<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <!--<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>-->
    <ion-title>{{'HOME.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
	<ion-item  lines="none">
		<h3>Unable to load waiver information</h3>
	</ion-item>
</ion-content>
