<ion-header>
	<ion-toolbar color="primary">
		<ion-title>{{title}}</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content class="ion-padding" (window:orientationchange)="resizePad()" (window:resize)="resizePad()" #signatureContainer>
	<ion-item lines="none">
		<p style="display:block;">{{'HOME.pleaseProvide' | translate : param}}</p>
	</ion-item>
	<signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawEnd"></signature-pad>
	<ion-grid>
		<ion-row>
			<ion-col col-4>
				<ion-button expand="block" color="danger" (click)="drawCancel()">{{ 'HOME.cancel' | translate }}</ion-button>
			</ion-col>
			<ion-col col-4>
				<ion-button expand="block" color="light" (click)="drawClear()">{{ 'HOME.clear' | translate }}</ion-button>
			</ion-col>
			<ion-col col-4>
				<ion-button expand="block" color="primary" (click)="drawSave()">{{ 'HOME.done' | translate }}</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
