.tab-current {
	background-color: #e3efff;
	border-bottom: 3px solid #3880ff;
}

.tab-completed {
	background-color: #e4ffe3;
}

ion-tab-bar {
	 //display: flex;
   overflow-x: auto;
	 -ms-overflow-style: -ms-autohiding-scrollbar;
}

ion-tab-button {
	min-width: 80px;
}

ion-tab-bar::-webkit-scrollbar {
  display: none; 
}

@media (max-width: 576px) {
	ion-tab-bar {
		justify-content:start
  }
}

