<ion-tab-bar>
  <ion-tab-button (click)="tabWasClicked(tab.sectionId)" tab="{{tab.tabName}}" *ngFor="let tab of tabs; index as i" [ngClass]="{ 'tab-current':tabIsCurrent(i), 'tab-completed':tabIsCompleted(i) }" #statusBar>
    <ion-icon name="arrow-forward-circle-outline" *ngIf="!tabIsCompleted(i)"></ion-icon>
    <ion-icon name="checkmark-circle-outline" *ngIf="tabIsCompleted(i)"></ion-icon>
    <ion-label>{{tab.tabName}}</ion-label>
  </ion-tab-button>
</ion-tab-bar>
