<ion-header>
  <ion-toolbar color="danger">
    <ion-title>{{ title }}!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <h1>{{msg}}</h1>
    <div padding>
    <ion-button expand="block" color="danger" (click)="closeModal()">OK</ion-button>
    </div>
    </ion-card-content>
</ion-content>