.input-wrapper {
	width: 190px;
}
.search-box {
	width: 100%;
	border: none;
	outline: 0;
	border-radius: 5px;
	padding: 5px;
	background-color: transparent;
}
::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: black;
	opacity: 1; /* Firefox */
}
.list-md .item-input:last-child {
	border-bottom: 0px solid transparent !important;
}
.close-icon {
	outline: 0;
	position: absolute;
	display: block;
	width: 15px;
	height: 15px;
	z-index: 1;
	right: 5%;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 5px 3px 2px 3px;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 12px;
	cursor: pointer;
}
.close-icon:after {
	content: "X";
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	background-color: rgb(153, 153, 153);
	z-index: 1;
	right: 5%;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 5px 3px 2px 3px;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 12px;
	cursor: pointer;
}
