<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{ 'HOME.title' | translate }}
    </ion-title>
  </ion-toolbar>
  <app-status-tabs [tabs]="statusTabConfig" (tabClicked)="scrollTo($event[0])" #statusTabs></app-status-tabs>
</ion-header>

<ion-content color="light" [fullscreen]="true" [scrollEvents]="true" *ngIf="currentGuest">

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{ 'HOME.waiverFor' | translate }}:
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-sm>
            <ion-label><b>{{currentGuest.firstName}} {{currentGuest.lastName}}</b></ion-label>
          </ion-col>
          <ion-col size="12" size-sm>
            <ion-label>{{ 'HOME.dateOfBirth' | translate }}:
              {{formattedDate}}</ion-label>
          </ion-col>
          <ion-col size="12" size-sm>
            <ion-label>{{ 'HOME.age' | translate }}: {{currentGuest.age}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card padding *ngIf="currentGuest.showGuardian">
    <ion-card-content>
      <ion-text color="dark">
        <h1>{{ 'HOME.guardian' | translate }}</h1>
      </ion-text>
      <ion-text color="danger" *ngIf="currentGuest.guardianIsMinor">
        <h2>{{ 'HOME.guardianAge' | translate: {minAge: currentWaiver.minAdultAge} }}</h2>
      </ion-text>
      <ion-text color="danger" *ngIf="currentGuest.guardianFormIncomplete">
        <h2>{{ 'HOME.completeRequired' | translate }}</h2>
      </ion-text>
      <ion-item class="ion-no-padding">
        <ion-label position="stacked">{{ 'HOME.firstName' | translate }}
          <span style="color:red"> *</span>
        </ion-label>
        <ion-input type="text" placeholder="{{ 'HOME.firstName' | translate }}" autocapitalize="word"
          [(ngModel)]="currentGuest.guardianFirstName" (ionFocus)="redoGuardian()" required=true></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-label position="stacked">{{ 'HOME.lastName' | translate }}
          <span style="color:red"> *</span>
        </ion-label>
        <ion-input type="text" placeholder="{{ 'HOME.lastName' | translate }}" autocapitalize="word"
          [(ngModel)]="currentGuest.guardianLastName" (ionFocus)="redoGuardian()" required=true></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-label position="stacked">{{ 'HOME.email' | translate }}
          <span style="color:red"> *</span>
        </ion-label>
        <ion-input type="email" inputmode="email" placeholder="{{ 'HOME.email' | translate }}"
          [(ngModel)]="currentGuest.guardianEmail" (ionFocus)="redoGuardian()" required=true></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-label position="stacked">{{ 'HOME.dateOfBirth' | translate }}
          <span style="color:red"> *</span>
        </ion-label>
          <onerisk-datetime [type]="'date'" (click)="redoGuardian()" [(value)]="currentGuest.guardianDob" [language]="language"></onerisk-datetime>
      </ion-item>
      <ion-button expand="block" (click)="guardianAgeCheck()">
        {{ 'HOME.submit' | translate }}
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card id="waiver-card" padding *ngIf="currentWaiver && currentGuest.showInitialed">
    <ion-card-content>
      <div id="waiver-body">
        <div class="waiver-section" *ngFor="let section of sectionedWaiver; index as i">
          <div *ngIf="i % 2 == 0" [innerHtml]="section | safe: 'html'">
          </div>
          <div class="embedded-button-wrap" *ngIf="i % 2 == 1">
            <ion-button *ngIf="!currentGuest.inlineInitials[i]" expand="block" (click)="getInlineInitial(i)">
              <ion-icon slot="icon-only" name="pencil-outline"></ion-icon> {{section}}
            </ion-button>
            <ion-button class="edit-initial-button" *ngIf="currentGuest.inlineInitials[i]" expand="block"
              (click)="getInlineInitial(i)">
              <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
              {{ 'HOME.editInitials' | translate }}
            </ion-button>
            <div *ngIf="currentGuest.inlineInitials[i]" class="initial-box" (click)="getInlineInitial(i)">
              <img style="width: 50%; height: auto; margin-top:16px;" *ngIf="currentGuest.inlineInitials[i]"
                [src]="currentGuest.inlineInitials[i]">
            </div>
          </div>
        </div>
      </div>
    </ion-card-content>
    <ion-card-content class="ion-text-center">
      <ion-button *ngIf="!currentGuest.initials" expand="block" (click)="getInitials()">
        <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
        {{ 'HOME.addInitials' | translate }}
      </ion-button>
      <ion-button class="edit-initial-button" *ngIf="currentGuest.initials" expand="block" (click)="getInitials()">
        <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
        {{ 'HOME.editInitials' | translate }}
      </ion-button>
      <div *ngIf="currentGuest.initials" class="initial-box" (click)="getInitials()">
        <img style="width: 50%; height: auto; margin-top:16px;" *ngIf="currentGuest.initials"
          [src]="currentGuest.initials">
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card id="consent-card" *ngIf="currentGuest.showConsent">
    <ion-card-content>
      <ion-text color="dark">
        <p>{{currentWaiver.electronicSignatureConsent}}</p>
      </ion-text>
    </ion-card-content>
    <ion-item id="consent-checkbox-item" lines="none" (click)="clickedConsent()">
      <ion-icon slot="start" color="primary" *ngIf="!currentGuest.agreeToTerms" name="square-outline"></ion-icon>
      <ion-icon slot="start" color="primary" *ngIf="currentGuest.agreeToTerms" name="checkbox-outline"></ion-icon>
      <ion-label class="terms">{{ 'HOME.iAgree' | translate }}</ion-label>
    </ion-item>
  </ion-card>

  <ion-card id="sign-card" *ngIf="currentGuest.showSigned">
    <ion-card-content class="ion-text-center">
      <ion-button expand="block" *ngIf="!currentGuest.signature" (click)="getSignature()">
        <ion-icon slot="icon-only" name="pencil-outline"></ion-icon> {{ 'HOME.addSignature' | translate }}
      </ion-button>
      <ion-button class="edit-initial-button" *ngIf="currentGuest.signature" expand="block" (click)="getSignature()">
        <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
        {{ 'HOME.editSignature' | translate }}
      </ion-button>
      <div *ngIf="currentGuest.signature" class="initial-box" (click)="getSignature()">
        <img style="width:50%; height:auto; margin-top:16px;" *ngIf="currentGuest.signature"
          [src]="currentGuest.signature">
      </div>
    </ion-card-content>
  </ion-card>

  <ion-button id="submit-card" class="ion-margin" color="success" expand="block" (click)="submitWaiver()"
    *ngIf="currentGuest.showSubmit && !this.currentGuest.submitted">
    {{ 'HOME.submitYourWaiver' | translate }} &#8250;
  </ion-button>
  <ion-card id="submitted-card" *ngIf="this.currentGuest.submitted">
    <ion-card-content>
      <h2>{{ 'HOME.thankYou' | translate }}
      </h2>
    </ion-card-content>
  </ion-card>
</ion-content>
