ion-title{
	padding-inline-start: 40px;
	padding-inline-end: 40px;
}

.red {
  background-color: #ed4337;
  font-weight: bold;
  color: white;
}

.green {
  background-color: #2ecc71;
  font-weight: bold;
  color: white;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.terms {
  font-size: 13px;
  font-weight: bold;
  white-space: normal;
}

:host ::ng-deep #waiver-body p {
  margin-bottom: 15px;
}

#consent-checkbox-item:hover {
  cursor: pointer;
}

.embedded-button-wrap {
  text-align: center;
}

ion-content > * {
  max-width: 1000px;
  margin: 10px auto;
}

.initial-box {
  border: 2px dashed #3880ff;
  border-top: none;
  border-radius: 0 0 10px 10px;
}

.edit-initial-button {
  margin: 0;
}
